* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    width: 550px;
}

.bold{
    font-weight: bold;
}

.gray{
    color: #F5F5F5;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 100%;
    height: 55px;

    background-color: #F55A5A;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.nav--icon{
    height: 24px;
}

.nav--title{
    padding: 20px;
}

.card{
    padding: 40px;
    width: 100%;
}

.card--image{
    width: 125px;
    height: 170px;
    border-radius: 5px;
}
